html, body {
    background-color: white;
    color: black;
}

html, body, h1, td, th {
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 36pt;
    padding-left: 110px;
    margin: 0px;
}

th.day_header {
    background-color: #ccc;
    font-size: large;
    font-weight: bold;
    padding: 6px;
}

td {
    background-color: #eee;
    padding: 2px;
}

td.talk {
    width: 33%;
    vertical-align: top;
}

a.talktitle {
    cursor: pointer;
}

.talkdesc {
    font-size: smaller;
}

#controls {
    padding-left: 110px;
    margin: 15px 0px 10px 0px;
}

#controls, #source {
    font-size: smaller;
}

#controls a {
    color: blue;
    cursor: pointer;
}

#source a {
    color: blue;
    text-decoration: underline;
}

a img {
    border: 0px;
}

@media print {
    #controls, #source {
        display: none;
    }
}

#logo {
    position: absolute;
}